{
  "presets": [
    ["env", {
      "targets": {
        "uglify": true
      },
      "useBuiltIns": true
    }],
    "stage-0"
  ],
  "plugins": [
    "transform-decorators-legacy"
  ],
  "env": {
    "test": {
      "plugins": ["transform-es2015-modules-commonjs"]
    }
  }
}
