{
  "parser": "babel-eslint",
  "extends": ["eslint:recommended"],

  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "impliedStrict": true,
      "experimentalObjectRestSpread": true
    }
  },
  "env": {
    "browser": true,     // browser global variables.
    "node": true,        // Node.js global variables and Node.js-specific rules.
    "es6": true,         // es6
    "mocha": true       // adds all of the Mocha testing global variables.
  },
  "globals": {
    "define": true
  },
  "rules": {
    "object-curly-spacing": 0,
    "no-use-before-define": 0
  }
}